<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频播放</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css">
    <link rel="stylesheet" href="/dplayer/demo.css">
    <link rel="stylesheet" href="/dplayer/DPlayer.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flv.js/dist/flv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js/dist/hls.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dashjs/dist/dash.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pearplayer"></script>
    <script src="/dplayer/DPlayer.min.js"></script>
</head>
<body>
<div class="example">
    <div id="dplayer1"></div>
</div>
<div class="example">
    <button class="btn" onclick="dp6.danmaku.draw({text: '假装收到 WebSocket 弹幕', color: '#fff', type: 'right'})">假装收到 WebSocket 弹幕</button>
    <div id="dplayer6"></div>
</div>


</body>

<script src="https://cdn.jsdelivr.net/npm/stats.js"></script>
<script>
    // stats.js: JavaScript Performance Monitor
    const stats = new Stats();
    stats.showPanel(0); // 0: fps, 1: ms, 2: mb, 3+: custom
    document.body.appendChild(stats.dom);
    function animate () {
        stats.begin();
        // monitored code goes here
        stats.end();

        requestAnimationFrame(animate);
    }
    requestAnimationFrame(animate);
    initPlayers();
    function initPlayers () {
        // dp1
        window.dp1 = new DPlayer({
            container: document.getElementById('dplayer1'),
            preload: 'none',
            screenshot: true,
            video: {
                url: 'https://moeplayer.b0.upaiyun.com/dplayer/hikarunara.mp4',
                pic: 'https://moeplayer.b0.upaiyun.com/dplayer/hikarunara.png',
                thumbnails: 'https://moeplayer.b0.upaiyun.com/dplayer/hikarunara_thumbnails.jpg'
            },
            subtitle: {
                url: 'https://moeplayer.b0.upaiyun.com/dplayer/hikarunara.vtt'
            },
            danmaku: {
                id: '9E2E3368B56CDBB4',
                api: 'https://api.prprpr.me/dplayer/',
            }
        });

        window.dp6 = new DPlayer({
            container: document.getElementById('dplayer6'),
            preload: 'none',
            live: true,
            danmaku: true,
            apiBackend: {
                read: function (endpoint, callback) {
                    console.log('假装 WebSocket 连接成功');
                    callback();
                },
                send: function (endpoint, danmakuData, callback) {
                    console.log('假装通过 WebSocket 发送数据', danmakuData);
                    callback();
                }
            },
            video: {
                url: 'https://moeplayer.b0.upaiyun.com/dplayer/hls/hikarunara.m3u8',
                type: 'hls'
            }
        });

    }

    function clearPlayers () {
        for (let i = 0; i < 6; i++) {
            window['dp' + (i + 1)].pause();
            document.getElementById('dplayer' + (i + 1)).innerHTML = '';
        }
    }

    function switchDPlayer () {
        if (dp2.option.danmaku.id !== '5rGf5Y2X55qu6Z2p') {
            dp2.switchVideo({
                url: 'https://moeplayer.b0.upaiyun.com/dplayer/flowerdance.mp4',
                pic: 'https://moeplayer.b0.upaiyun.com/dplayer/flowerdance.jpg',
                type: 'auto',
            }, {
                id: '5rGf5Y2X55qu6Z2p',
                api: 'https://api.prprpr.me/dplayer/',
                maximum: 3000,
                user: 'DIYgod'
            });
        } else {
            dp2.switchVideo({
                url: 'https://moeplayer.b0.upaiyun.com/dplayer/hikarunara.mp4',
                pic: 'https://moeplayer.b0.upaiyun.com/dplayer/hikarunara.png',
                thumbnails: 'https://moeplayer.b0.upaiyun.com/dplayer/hikarunara_thumbnails.jpg',
                type: 'auto'
            }, {
                id: '9E2E3368B56CDBB42',
                api: 'https://api.prprpr.me/dplayer/',
                maximum: 3000,
                user: 'DIYgod'
            });
        }
    }
</script>
</html>