<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>系统角色管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <!--通用样式-->
    <link rel="stylesheet" href="/static/style/css/backend.css"/>
    <link rel="stylesheet" href="/static/style/css/skins/_all-skins.css"/>
    <link rel="stylesheet" href="/static/libs/pace-master/themes/pink/pace-theme-flash.css">
    <link rel="stylesheet" href="/static/libs/toastr/toastr.min.css">
    <style type="text/css">

        [v-cloak] {
            display: none;
        }
        ::-webkit-scrollbar{
            display:none;
        }
        .container-fluid {
            padding-right: 0px;
            padding-right: 0px;
        }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/static/libs/pace-master/pace.min.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini inside-header inside-aside bg-gray-light">
<div id="Role"  v-cloak>
    <section class="content-header hide">
        <h1>
            控制台<small>Control panel</small>
        </h1>
    </section>
    <!-- RIBBON -->
    <div id="ribbon">
        <ol class="breadcrumb pull-left">
            <li><a href="dashboard" class="addtabsit"><i class="fa fa-dashboard"></i> 控制台</a></li>
        </ol>
        <ol class="breadcrumb pull-right">
            <li><a href="javascript:;" data-url="/admin/cms.archives/cms">系统管理</a></li>
            <li><a href="javascript:;" data-url="/admin/cms/archives">角色管理</a></li>
        </ol>
    </div>
    <section>
        <div class="content">
            <div class="panel panel-default panel-intro">
                <div class="panel-heading">
                    <div class="panel-lead"><em>应用管理</em>
                        系统应用为顶级模块,将系统划分为应用模块的形式,插件式开发系统功能,系统之间独立部署。
                    </div>
                </div>
                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade active in" id="one">
                            <div class="widget-body no-padding">
                                <div id="toolbar" class="toolbar" style="position: relative;">
                                    <a href="javascript:;" class="btn btn-success" @click="addAction" title="添加"><i class="fa fa-plus"></i> 添加</a>
                                    <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled" @click="editAction"  title="编辑"><i class="fa fa-pencil"></i> 编辑</a>
                                    <a href="javascript:;" class="btn btn-info btn-move dropdown-toggle btn-disabled disabled"><i class="fa fa-arrow-right"></i> 权限分配</a>

                                    <a href="javascript:;" class="btn btn-info btn-move dropdown-toggle btn-disabled disabled"><i class="fa fa-arrow-right"></i> 移动</a>
                                    <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled" @click="delAction"  title="删除"><i class="fa fa-trash"></i> 删除</a>
                                    <div class="dropdown btn-group ">
                                        <a class="btn btn-primary btn-more dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i>更多</a>
                                        <ul class="dropdown-menu text-left" role="menu">
                                            <li>
                                                <a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> 设为正常</a>
                                            </li>
                                            <li>
                                                <a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> 设为隐藏</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="html5_1c6m7tdmq8qq1fs6osd14a5d44_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 0px; left: 239px; width: 64px; height: 31px; overflow: hidden; z-index: 0;"><input id="html5_1c6m7tdmq8qq1fs6osd14a5d44" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" accept=".csv,.xls,.xlsx" tabindex="-1">
                                    </div>
                                    <!--<a class="btn btn-success btn-recyclebin btn-dialog" href="cms/archives/recyclebin" title="回收站"><i class="fa fa-recycle"></i> 回收站</a>-->
                                </div>

                                <div class="columns-right pull-right" style="margin-top:10px;margin-left: 3px;">
                                    <button v-on:click="toggle()" class="btn btn-default" type="button" name="commonSearch" title="普通搜索">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>

                                <table id="Table"></table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <div id="add-form" hidden>
        <form ref="formValidate" :rules="ruleValidate" :model="role"  class="form-horizontal" data-toggle="validator"  role="form"  method="POST" action="#">
            <div class="form-group">
                <label  class="control-label col-xs-12 col-sm-2"></label>
                <div class="col-xs-12 col-sm-8">
                    <input type="hidden" id="c-id" v-model="role.id" value="role.id">
                </div>
            </div>
            <div class="form-group">
                <label for="c-name" class="control-label col-xs-12 col-sm-2">角色名称:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="c-name" data-rule="required" class="form-control" v-model="role.name" value="role.name" name="name" type="text"  placeholder="请输入应用名称" >
                </div>
            </div>
            <div class="form-group">
                <label for="c-name" class="control-label col-xs-12 col-sm-2">角色代码:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="c-name" data-rule="required" class="form-control" v-model="role.code" value="role.code" name="code" type="text"  placeholder="请输入应用名称" >
                </div>
            </div>
            <div class="form-group">
                <label for="c-code" class="control-label col-xs-12 col-sm-2">所属机构:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="c-code" data-rule="required"  placeholder="选择所属机构" class="form-control" v-model="role.deptid"  name="deptid" type="text" value="role.deptid">
                </div>
                <div class="Validform_checktip"></div>
            </div>
            <div class="form-group">
                <label for="c-href" class="control-label col-xs-12 col-sm-2">类型:</label>
                <div class="col-xs-12 col-sm-8">
                    <input id="c-href" data-rule="required"   placeholder="请输入应用链接" class="form-control"  v-model="role.type"name="type" type="text" value="role.type">
                </div>
                <div class="Validform_checktip"></div>
            </div>
            <div class="form-group">
                <label for="c-description" class="control-label col-xs-12 col-sm-2">角色简介:</label>
                <div class="col-xs-12 col-sm-8">
                    <textarea id="c-description" class="form-control"  v-model="role.description"  value="role.description"  placeholder="请输入角色简介" name="description"></textarea>
                </div>
            </div>

        </form>
    </div>
</div>
</body>


<!-- 引入JS -->
<script src="/static/style/js/jquery-2.2.4.min.js"></script>
<script src="/static/style/js/bootstrap.min.js"></script>
<script src="/static/style/js/vue.min.js"></script>
<script src="/static/style/js/vue-validator.min.js"></script>

<!-- BootstrapTable 数据表格 -->
<script src="/static/libs/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="/static/libs/bootstrap-table/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
<script src="/static/libs/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>

<!--提示插件-->
<script src="/static/libs/toastr/toastr.min.js"></script>
<script src="/static/libs/layer/layer.js"></script>
<script src="/static/style/js/common.js"></script>
<script src="/static/style/js/app.js"></script>
<script src="/static/style/js/app_iframe.js"></script>
<script src="/appjs/manage/role/role.js"></script>
</html>